<mat-sidenav-container class="sidenav-container" autosize>
  <!-- [mode]="(isHandset$ | async) ? 'over' : 'side'" -->

  <!-- TOP -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- *ngIf="isHandset$ | async" -->

      <mat-menu #appMenu="matMenu">
        <mat-nav-list>
          <a mat-list-item routerLink="/main">
            <mat-icon color="primary" class="mat-18 mr-2">home</mat-icon>
            <span>Home</span>
          </a>
          <a mat-list-item routerLink="/main/create-poll">
            <mat-icon color="primary" class="mat-18 mr-2">create</mat-icon>
            <span>Crear encuesta</span>
          </a>
          <a mat-list-item routerLink="/main">
            <mat-icon color="primary" class="mat-18 mr-2">bar_chart</mat-icon>
            <span>Ver encuestas</span>
          </a>
          <!-- <a mat-list-item routerLink="/signin" >
          <mat-icon color="primary" class="mat-18 mr-2">bar_chart</mat-icon>
          <span>Top encuestas</span>
        </a> -->
          <a mat-list-item href="#">
            <mat-icon color="primary" class="mat-18 mr-2">fireplace</mat-icon>
            <span>Más populares</span>
          </a>

          <a mat-list-item href="#">
            <mat-icon color="primary" class="mat-18 mr-2">search</mat-icon>
            <span>Buscar encuestas</span>
          </a>
          <a mat-list-item href="#" (click)="logout();">
            <!-- <mat-icon color="primary" class="mat-18 mr-2">search</mat-icon> -->
            <mat-icon color="primary" class="mat-18 mr-2">power_settings_new</mat-icon>
            <span>Salir</span>
          </a>
        </mat-nav-list>
      </mat-menu>

      <button [matMenuTriggerFor]="appMenu" type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="topbar-spacer"></span>
      <mat-menu #userMenu="matMenu">
        <mat-nav-list>
          <a mat-list-item class="mr-3" routerLink="/main/profile">
            <mat-icon color="primary" class="mat-18 mr-2">person_pin</mat-icon>
            <span>Profile</span>
          </a>
          <a mat-list-item class="mr-3" href="#" (click)="logout();">
            <!-- <mat-icon color="primary" class="mat-18 mr-2">search</mat-icon> -->
            <mat-icon color="primary" class="mat-18 mr-2">power_settings_new</mat-icon>
            <span>Exit</span>
          </a>
        </mat-nav-list>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <!-- <mat-icon>more_vert</mat-icon> -->
        <img [src]="userService.user.photoURL || './assets/images/users/noimg.svg'" alt="" width="38"
          class="rounded-circle" class="top-user-picture rounded-circle">
      </button>

      <!-- <span>Funny Polls</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
