.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.small-text{
  font-size: 12px;
}

.header-card-icon {
  font-size:30px;
}

.main-card{
  border-radius: 30px!important;
}

.most-active-user-card{
  /* border: 1px solid grey; */
}


@media screen and (max-width: 991px){
  .main-card{
    margin-top: 20px;
  }
}

.answer-radio-group{
  height: 134px;
}

mat-card-content{
  height: 190px;
}

mat-card-content.poll-card {
  height: 250px;
}
