<!-- <app-sidenav ></app-sidenav> -->
<!-- <router-outlet></router-outlet> -->

<div class="container-fluid" style="background-color: beige; height: calc(100% - 64px);">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mat-h3 text-center mb-0 mt-3">
        Overview
      </h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-3 col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="slow d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon color="primary" class="mat-18 mr-2 header-card-icon">supervised_user_circle</mat-icon>
            <h4 class="mb-0 ml-2" style="line-height: normal;">Followers</h4>
          </div>
          <h2 class="mb-0 mt-2 mat-h2">12.8k</h2>
          <p class="small-text mt-1">
            <span class="text-success">
              <i class="fa fa-arrow-alt-circle-up"></i>
              +11.3%
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="slow d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon color="accent" class="mat-18 mr-2 header-card-icon">comment</mat-icon>
            <h4 class="mb-0 ml-2" style="line-height: normal;">Comments</h4>
          </div>
          <h2 class="mb-0 mt-2 mat-h2">8.3k</h2>
          <p class="small-text mt-1">
            <span class="text-success">
              <i class="fa fa-arrow-alt-circle-up"></i>
              +7.7%
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="slow d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon color="warn" class="mat-18 mr-2 header-card-icon">thumb_up</mat-icon>
            <h4 class="mb-0 ml-2" style="line-height: normal;">Likes</h4>
          </div>
          <h2 class="mb-0 mt-2 mat-h2">11.5k</h2>
          <p class="small-text mt-1">
            <span class="text-success">
              <i class="fa fa-arrow-alt-circle-up"></i>
              +8.3%
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="slow d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon color="primary" class="mat-18 mr-2 header-card-icon">dvr</mat-icon>
            <h4 class="mb-0 ml-2" style="line-height: normal;">Posts</h4>
          </div>
          <h2 class="mb-0 mt-2 mat-h2">8.4k</h2>
          <p class="small-text mt-1">
            <span class="text-success">
              <i class="fa fa-arrow-alt-circle-up"></i>
              +12.3%
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="mat-h3 text-center mb-0 mt-3">
        Next Polls
      </h3>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column poll-card">
          <!-- <app-vertical-barchart></app-vertical-barchart> -->
          <!-- <app-bar-chart></app-bar-chart> -->
          <p class="question mt-2" style="font-size: 16px;font-weight: 500;">{{pollService.activeDashboardPoll.question}}</p>
          <mat-radio-group color="primary" aria-labelledby="answer-radio-group-label"
            class="answer-radio-group d-flex flex-column flex-wrap" [(ngModel)]="result" (change)="changeSelection()">
            <mat-radio-button class="pool-radio-button mt-2 mr-2" [value]="i" *ngFor="let answer of pollService.activeDashboardPoll.optionlabels; let i = index;">
              {{answer}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="d-flex">
            <button mat-raised-button color="primary" class="mt-2" (click)="sendVote()" >Send</button>
            <button mat-raised-button color="accent" class="mt-2 ml-2" (click)="nextQuestion()" >Next question</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column poll-card">
          <app-pie-chart
          [pieChartLabels]="pollService.activeDashboardPoll.optionlabels"
          [pieChartData]="pollService.activeDashboardPoll.votes"
          [events]="updateChartSubject.asObservable()"
          ></app-pie-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="mb-0 mt-3 mat-h3 text-center">Most active users</h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="1" matBadgeOverlap="false">
              <img src="./assets/images/users/user1.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">
              45 Comments
              <!-- <i class="far fa-comments"></i> -->
            </span>
            <span class="mat-small mat-caption badge badge-success mt-2">
              75 Likes
              <!-- <i class="far fa-thumbs-up"></i> -->
            </span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="2" matBadgeOverlap="false">
              <img src="./assets/images/users/user2.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="3" matBadgeOverlap="false">
              <img src="./assets/images/users/user1.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="4" matBadgeOverlap="false">
              <img src="./assets/images/users/user3.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="5" matBadgeOverlap="false">
              <img src="./assets/images/users/user1.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="main-card animated zoomIn fast">
        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
          <div class="d-flex flex-column justtify-content-center align-items-center most-active-user-card">
            <p matBadge="6" matBadgeOverlap="false">
              <img src="./assets/images/users/user1.jpg" alt="Most active user" width="60" class="rounded-circle">
            </p>
            <h3 class="subheading-2 mb-0">Jose Luis</h3>
            <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span>
          </div>
          <!-- would be great to have a chart by users  -->
          <!-- <app-bar-chart></app-bar-chart> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>




<!--
<mat-sidenav #drawer class="sidenav" fixedInViewport
[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
mode="side"
[opened]="(isHandset$ | async) === false">
<mat-nav-list>
<a mat-list-item routerLink="/signin" (click)="drawer.toggle()" >
  <mat-icon class="mat-18 mr-2">home</mat-icon>
  <span>Home</span>
</a>
<a mat-list-item routerLink="/signin" (click)="drawer.toggle()" >
  <mat-icon class="mat-18 mr-2">create</mat-icon>
  <span>Crear encuesta</span>
</a>
<a mat-list-item routerLink="/main" (click)="drawer.toggle()" >
  <mat-icon class="mat-18 mr-2">bar_chart</mat-icon>
  <span>Ver encuestas</span>
</a>
<a mat-list-item href="#" (click)="drawer.toggle()">
  <mat-icon class="mat-18 mr-2">fireplace</mat-icon>
  <span>Más populares</span>
</a>

<a mat-list-item href="#" (click)="drawer.toggle()">
  <mat-icon class="mat-18 mr-2">search</mat-icon>
  <span>Buscar encuestas</span>
</a>
<a mat-list-item href="#" (click)="drawer.toggle(); logout();">
  <i class="fas fa-door-open mr-2"></i>
  <span>Salir</span>
</a>
</mat-nav-list>
</mat-sidenav>

<button
type="button"
aria-label="Toggle sidenav"
mat-icon-button
(click)="drawer.toggle()"
>
<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button> -->
