<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h2 class="mat-h2 text-center">Create new poll</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <!-- (ngSubmit)="onSubmit()"  -->
      <div class="col-md-6 mx-auto">
        <mat-card class="main-card animated zoomIn fast">
          <mat-card-content class="d-flex justify-content-center align-items-center flex-column poll-card">
            <form novalidate class="d-flex justify-content-center align-items-center flex-column w-100">
              <h3 class="mat-h3">Question</h3>
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Question</mat-label>
                <textarea matInput name="question" required [(ngModel)]="poll.question"></textarea>
              </mat-form-field>
              <h3 class="mat-h3">Answers</h3>
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Answer Option 1</mat-label>
                <input matInput required [(ngModel)]="poll.optionlabels[0]" name="option1">
              </mat-form-field>
              <br>
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Answer Option 2</mat-label>
                <input matInput required [(ngModel)]="poll.optionlabels[1]" name="option2">
              </mat-form-field>
              <br>
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Answer Option 3</mat-label>
                <input matInput [(ngModel)]="poll.optionlabels[2]" name="option3">
              </mat-form-field>
              <br>
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Answer Option 4</mat-label>
                <input matInput [(ngModel)]="poll.optionlabels[3]" name="option4">
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="poll.question.legth < 15 || poll.optionlabels[0].length < 2 || poll.optionlabels[1].length < 2">Publish
                poll</button>
              <!-- <mat-form-field color="primary" appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>        -->
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
